{% extends "layout.html" %}

{% block content %}

<!-- Where do ocean plastic pollution come from? -->
<div class="container div-container">
  <div class="row row-cols-2">
    <div class="col">
      <h4>Where do ocean plastic pollution come from?</h4>
      <p>Ocean pollution comes from here.</p>
    </div>
    <div class="col">
      <img src="{{url_for('static', filename='plastic-bag.png')}}" class="img-fluid" alt="Plastic Bag Underwater">
    </div>
  </div>
</div> <!--\END-->

<hr class="container" />

<!-- Global plastic production line graph -->
<div class="container div-container">
  <div class="row">
    <h4>Global Plastic Production fom 1950 to 2015</h4>
  </div>
  <div class="row p-2">
    <div class="m-auto">
      <div id="card-contents">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum 
          inventore odit ipsa ex dolore ea eveniet nulla. Possimus voluptate ipsum 
          eveniet neque quas ipsa non accusamus perspiciatis, explicabo magni provident, 
          facere vitae rerum, tempora maiores eaque! Facilis dolores fugiat aperiam 
          vitae ducimus explicabo illum temporibus, harum adipisci modi, saepe 
          repudiandae laboriosam perspiciatis ullam sequi culpa minus quae? Rerum 
          alias praesentium iusto officia fugiat adipisci nihil quisquam ut, 
          dolorum reprehenderit possimus, ducimus ex explicabo odio earum. Reiciendis 
          commodi illum consequuntur!
        </p>
        <div id="global-plastics-line" data-aos="zoom-in"></div>
      </div>
    </div>
  </div>
</div> <!--\END-->

<!-- GET DATA FROM ROUTES.PY -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var graph1 = {{ graph1JSON | safe }};
  Plotly.plot('global-plastics-line', graph1, {});
</script> <!--\END-->
{% endblock %}