{% extends "layout.html" %}

{% block content %}

<!-- Where do ocean plastic pollution come from? -->
<div class="container div-container">
  <div class="row row-cols-2">
    <div class="col">
      <h4>Where do ocean plastic pollution come from?</h4>
      <p>Plastic pollution is one of the world's major environmental issues. *will still add </p>
        <p>Aliquam tincidunt nulla vel eros vehicula, sed suscipit dui convallis. Aenean lacus velit, 
        cursus id laoreet at, semper eget massa. Quisque eget sodales quam, ut vulputate 
        augue. Donec facilisis, eros posuere dapibus vehicula, lectus dolor placerat erat, 
        id faucibus orci ipsum vitae mauris. Suspendisse potenti. Nam bibendum nulla 
        imperdiet, aliquam ligula id, faucibus metus. Lorem ipsum dolor sit ame.</p>
    </div>
    <div class="col">
      <img src="{{url_for('static', filename='plastic-bag.png')}}" class="img-fluid" alt="Plastic Bag Underwater">
    </div>
  </div>
</div> <!--\END-->

<hr class="container" />

<!-- Global plastic production line graph -->
<div class="container div-container">
  <div class="row">
    <h4>Global Plastic Production fom 1950 to 2015</h4>
  </div>
  <div class="row p-2">
    <div class="m-auto">
      <div id="card-contents">
        <p>
          Since 1950, plastic production have continually increased annually. 
          At an initial number of nearly 2 million tonnes per year, the plastic 
          production have increased up to 381 million in 2015. This slow-burn rapid increase 
          of plastic production has provided the world a catastrophic effect of plastic pollution
          that present and future generations will have to endure. *will still add
        </p>
        <div id="global-plastics-line" data-aos="zoom-in"></div>
      </div>
    </div>
  </div>
</div> <!--\END-->

<!-- GET DATA FROM ROUTES.PY -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var graph1 = {{ graph1JSON | safe }};
  Plotly.plot('global-plastics-line', graph1, {});
</script> <!--\END-->
{% endblock %}