{% extends "layout.html" %}

{% block content %}

<!-- Where do ocean plastic pollution come from? -->
<div class="container div-container">
  <div class="row row-cols-2">
    <div class="col">
      <h4>Where do ocean plastic pollution come from?</h4>
      <p>Plastic pollution is one of the world's major environmental issues. It encompasses the 
        harmful and excessive accumulation of plastic objects and particles across wildlife, terrains,
        and bodies of water. Due to plastic's polymeric material, it is difficult for the environment
        to naturally degrade it. Hence, plastics may take centuries to fully reach decay. In our oceans,
        plastic pollution has become a threat to marine life, where wildlife species devour microplastic fragments.
        Whether it is for saving the sustainability of our oceans or fears of hazardous consumption of sea life,
        ocean plastic pollution has shown disturbing data that requires solutions from all sectors. </p>
        <h4> Now what? </h4>
        <p>Plastic has become ingrained in our daily living. Majority of the human population
          has depended on plastic, the accompaniment of modern life. Single-use plastics 
          has made living 'convenient', yet slowly fills our oceans for centuries. This visualization 
          will guide you through the plastic generation, its history in data, and how it continues to
          live and kill through our oceans. </p>
    </div>
    <div class="col">
      <img src="{{url_for('static', filename='plastic-bag.png')}}" class="img-fluid" alt="Plastic Bag Underwater">
    </div>
  </div>
</div> <!--\END-->

<hr class="container" />

<!-- Global plastic production line graph -->
<div class="container div-container">
  <div class="row">
    <h4>Global Plastic Production fom 1950 to 2015</h4>
  </div>
  <div class="row p-2">
    <div class="m-auto">
      <div id="card-contents">
        <p>
          Since 1950, plastic production have continually increased annually. 
          At an initial number of nearly 2 million tonnes per year, the plastic 
          production have increased up to 381 million in 2015. This slow-burn rapid increase 
          of plastic production has provided the world a catastrophic effect of plastic pollution
          that present and future generations will have to endure. 
        </p>
        <div id="global-plastics-line" data-aos="zoom-in"></div>
      </div>
    </div>
  </div>
</div> <!--\END-->

<!-- GET DATA FROM ROUTES.PY -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
  var graph1 = {{ graph1JSON | safe }};
  Plotly.plot('global-plastics-line', graph1, {});
</script> <!--\END-->
{% endblock %}