{% extends "layout.html" %}

{% block content %}

<h4>Marine plastic wastes!</h4>
<p>
  Apart from the plastic composition, we can also visualize the plastic in terms of its weight per kilometer square. 
  We must have an idea of the weight of the plastic thrown into our waters. The plastics we see on the surface may only be the 
  top of a thick layer of plastic under the water. The weight helps us see beyond the top layer and understand how 
  concentrated or even packed our waters are with plastic. We often think that we are improving since we see less plastic, 
  but these metrics make it clear that we cannot simply judge something by what we see. If we unravel what lies underneath 
  the surface, we realize that there is still much to do.
</p>
{% endblock %}