{% extends "layout.html" %}

{% block content %}

<!-- Marine Plastic Wastes -->
<div class="container div-container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="row">
      <h4>Plastic Particles per Kilometer Squared</h4>
    </div>
    <div class="row p-2">
      <div class="m-auto">
        <div id="card-contents">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum 
            inventore odit ipsa ex dolore ea eveniet nulla. Possimus voluptate ipsum 
            eveniet neque quas ipsa non accusamus perspiciatis, explicabo magni provident, 
            facere vitae rerum, tempora maiores eaque! Facilis dolores fugiat aperiam 
            vitae ducimus explicabo illum temporibus, harum adipisci modi, saepe 
            repudiandae laboriosam perspiciatis ullam sequi culpa minus quae? Rerum 
            alias praesentium iusto officia fugiat adipisci nihil quisquam ut, 
            dolorum reprehenderit possimus, ducimus ex explicabo odio earum. Reiciendis 
            commodi illum consequuntur!
          </p>
          <div id="plastic-particles" data-aos="zoom-in"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <h4>Weight of Plastic Wastes in Grams</h4>
    </div>
    <div class="row div-container">
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illum 
        inventore odit ipsa ex dolore ea eveniet nulla. Possimus voluptate ipsum 
        eveniet neque quas ipsa non accusamus perspiciatis, explicabo magni provident, 
        facere vitae rerum, tempora maiores eaque! Facilis dolores fugiat aperiam 
        vitae ducimus explicabo illum temporibus, harum adipisci modi, saepe 
        repudiandae laboriosam perspiciatis ullam sequi culpa minus quae? Rerum 
        alias praesentium iusto officia fugiat adipisci nihil quisquam ut, 
        dolorum reprehenderit possimus, ducimus ex explicabo odio earum. Reiciendis 
        commodi illum consequuntur!
      </p>
      <div id="plastic-wastes" data-aos="zoom-in"></div>
    </div>
  </div> <!--\END-->
  
  <hr class="container" />

  </div> <!--\END-->
  
  <!-- Get data from routes.py -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var plastic_particles = {{ plastic_particles_JSON | safe }};
    var plastic_wastes = {{ plastic_waste_grams_JSON | safe }};
  
    // default plot of mismanaged wastes is the 2010 data
    Plotly.plot('plastic-particles', plastic_particles, {});
    // default plot of emitted wastes is the 2010 data
    Plotly.plot('plastic-wastes', plastic_wastes, {});
    /*function changeMap(event) {
      var div12010 = document.getElementById('mismanaged-map-2010');
      var div12019 = document.getElementById('mismanaged-map-2019');
      var div22010 = document.getElementById('plastic-wastes-map-2010');
      var div22019 = document.getElementById('plastic-wastes-map-2019');
  
      if (event.target.value === "2010-mismanaged") {
        div12019.style.display = 'none';
        div12010.style.display = 'block';
        Plotly.plot('mismanaged-map-2010', countries1_2010_Map, {});
      }
      else if (event.target.value === "2019-mismanaged") {
        div12010.style.display = 'none';
        div12019.style.display = 'block';
        Plotly.plot('mismanaged-map-2019', countries1_2019_Map, {});
      }
      if (event.target.value === "2010-emitted") {
        div22019.style.display = 'none';
        div22010.style.display = 'block';
        Plotly.plot('plastic-wastes-map-2010', countries2_2010_Map, {});
      }
      else if (event.target.value === "2019-emitted") {
        div22010.style.display = 'none';
        div22019.style.display = 'block';
        Plotly.plot('plastic-wastes-map-2019', countries2_2019_Map, {});
      }
    }
    
    Plotly.plot('mismanaged-continents-2019', continents1Bar, {});
    Plotly.plot('plastic-wastes-continents-2019', continents2Bar, {});
    */
  </script> <!--\END-->
  
{% endblock %}