{% extends "layout.html" %}

{% block content %}

<div class="container" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
    <div class="row div-container">
        <h3>Synthesis of Data</h3>
        <h4>What's next for our future? </h4>
        <p> 
            We've identified that the world produces greater than 380 million tonnes of 
            plastic. Moreover, we've also observed that our oceans and environment continues to fill plastic
            on an annual basis,  

        </p>
    </div>
    <div class="row div-container">
        <h4>What can we do?</h4>
        <p>
            One of the challenges in addressing plastic pollution is that the majority recognize
            plastic as an issue, however, have difficulty in eliminating plastics from their routine.
            Like what we have witnessed in our visualizations, it's best to look at the larger picture. The influence of large corporations
            and manufacturing, packaging industries have greatly affected fundamental living with plastic. 
            The role of larger institutions is to innovate and restructure old ways. Moreover, making these 
            discoveries accessible to various states and different parts of the world. It is time to envision
            an environment, our oceans, a cleaner and healthier life.

        </p>
    </div>
</div>
{% endblock %}